<div class="ordenSelect d-flex align-items-stretch justify-content-center flex-wrap">
  <select @fade-top class="form-select" aria-label="Ordenar Por" [(ngModel)]="selectFiltroMiLista" name="selectFiltroPelicula">
    <option selected disabled value="!">Ordenar Por</option>
    <option [ngValue]="filter.nombreAsc">Nombre Ascendente</option>
    <option [ngValue]="filter.nombreDesc">Nombre Descendente</option>
    <option [ngValue]="filter.valoracionAsc">Valoración Ascendente</option>
    <option [ngValue]="filter.valoracionDesc">Valoración Descendente</option>
    <option [ngValue]="filter.plataformaAsc">Plataforma Ascendente</option>
    <option [ngValue]="filter.plataformaDesc">Plataforma Descendente</option>
    <option [ngValue]="filter.directorAsc">Director Ascendente</option>
    <option [ngValue]="filter.directorDesc">Director Descendente</option>
    <option [ngValue]="filter.protagonistaAsc">Protagonista Ascendente</option>
    <option [ngValue]="filter.protagonistaDesc">Protagonista Descendente</option>
  </select>
</div>
<div class="d-flex align-items-stretch justify-content-center flex-wrap">
  <div @fade-left class="card" style="width: 18rem;" *ngFor="let favorito of miLista | ordenarPer: selectFiltroMiLista">
    <img class=" card-img-top" src="{{favorito.imagen}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{favorito.nombre}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>Valoración:</span> {{favorito.valoracion}}/10</li>
      <li class="list-group-item"><span>Director:</span> {{favorito.director}}</li>
      <li class="list-group-item"><span>Protagonista:</span> {{favorito.protagonista}}</li>
      <li class="list-group-item"><span>Plataforma:</span> {{favorito.plataforma}}</li>
    </ul>
    <div class="card-body bottom d-flex align-items-stretch justify-content-center">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
        [attr.data-bs-target]="'#' + favorito.modalId">
        Más Información
      </button>
      <button type="button" class="btn" (click)="eliminarFavorito(favorito.modalId)">
        <i class="bi bi-heart-fill"></i>
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{favorito.modalId}}" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{favorito.nombreCompleto}}</h5>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h5 class="modal-title">Sinopsis:</h5>
                  <p class="modal-p sinopsis">{{favorito.sinopsis}}</p>
                </div>
                <div class="col">
                  <h5 class="modal-title">Detalles </h5>
                  <div class="row">
                    <div class="col">
                      <p class="modal-p"><span>Director:</span> {{favorito.director}}</p>
                    </div>
                    <div class="col">
                      <p class="modal-p"><span>Protagonista:</span> {{favorito.protagonista}}</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                      <p class="modal-p"><span>Plataforma:</span> {{favorito.plataforma}}</p>
                    </div>
                    <div class="col">
                      <p class="modal-p"><span>Productora:</span> {{favorito.productora}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="trailer embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="favorito.youtube | safe" width="100%" height="100%"
                      title='YouTube video player' frameborder='0'
                      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
