<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="ordenSelect d-flex align-items-stretch justify-content-center flex-wrap">
          <img src="assets/images/logo.svg" alt="" width="180" height="60">
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col center-block text-center">
        <div class="icons d-flex align-items-stretch justify-content-center flex-wrap">
          <a href="https://www.instagram.com/?hl=es" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://es-es.facebook.com/" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://twitter.com/?lang=es" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://es.linkedin.com/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="w-100"></div>
        <div class="footText col center-block text-center">
          <p>Copyright © 2022 | Made with ❤️ by Marc Carbonell & Raúl Heredia <br />Contacta con nosotros <a
              id="goContact" routerLink="/contacto">Aquí</a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
