@import '../common/colors';
footer{
  background-color: $nav-color;
}
.container{
  padding-top: 20px;
}
.icons{
  padding-top: 10px;
  padding-bottom: 10px;
  gap: 10px;
  font-size: 25px;

}
.icons a{
  color: $grey !important;
}
.icons a i:hover{
  color: $red;
}

.footText{
  padding-bottom: 10px;
}
