<div class="d-flex align-items-stretch justify-content-center flex-wrap">
  <div class="card" style="width: 18rem;" *ngFor="let card of series">
    <img class="card-img-top" src="{{card.imagen}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{card.nombre}}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span>Valoración:</span> {{card.valoracion}}/10</li>
      <li class="list-group-item"><span>Director:</span> {{card.director}}</li>
      <li class="list-group-item"><span>Protagonistas:</span> {{card.protagonistas}}</li>
      <li class="list-group-item"><span>Plataforma:</span> {{card.plataforma}}</li>
    </ul>
    <div class="card-body bottom">
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
        [attr.data-bs-target]="'#' + card.modalId">
        Más Información
      </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="{{card.modalId}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{{card.nombre}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h5 class="modal-title">Sinopsis:</h5>
                  <p class="modal-p sinopsis">{{card.sinopsis}}</p>
                </div>
                <div class="col">
                  <h5 class="modal-title">Detalles </h5>
                  <div class="row">
                    <div class="col">
                      <p class="modal-p"><span>Director:</span> {{card.director}}</p>
                    </div>
                    <div class="col">
                      <p class="modal-p"><span>Protagonistas:</span> {{card.protagonistas}}</p>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                      <p class="modal-p"><span>Plataforma:</span> {{card.plataforma}}</p>
                    </div>
                    <div class="col">
                      <p class="modal-p"><span>Productora:</span> {{card.productora}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="trailer embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="card.youtube | safe" width="100%" height="100%"
                      title='YouTube video player' frameborder='0'
                      allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
                      allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
