@import '../common/colors';

nav.bg-dark{
  background-color: $nav-color !important;
}
button i.bi-search:hover{
  color: $red;
}
input[type="search"]{
  background-color: $grey;
  border: none;
  border-radius: $medium-radius;
}
input[type="search"]::placeholder{
  color: #000000;
}
i.bi{
  color: $grey;
}

.form-control:focus, .form-control:active{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}
a.nav-link.active{
  color: $red !important;
}
a.nav-link{
  color: darken($grey,6) !important;
}
a.nav-link:hover{
  text-decoration: none;
  color: $darkRed !important;
}
