/* You can add global styles to this file, and also import other style files */
@import './app/common/colors';
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html{
  scroll-behavior: smooth;
}

body
{
  background: $bg-color;
  color: $grey
}

a{
  color: $red;
  text-decoration: none;
}

a:hover{
  color: $red;
  text-decoration: underline;
}

button:focus, button:active{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

button:focus, button:active {
  outline: none !important;
  box-shadow: none;
}

button:focus, a:focus{
  outline: none;
}
.navbar-toggler:focus{
  outline: none !important;
  box-shadow: none;
}
